doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components_bower/dist/css/bootstrap.min.css')
  body
    script(src='/components_bower/dist/js/bootstrap.min.js')
    block content