doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/components_bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/components_bower/jquery/dist/jquery.min.js')
    script(src='/components_bower/bootstrap/dist/js/bootstrap.min.js')
    block javascripts